## App Info ##
contract_id: psh8wxoj7
name: petclinic
version: v1
type: all
artifact_url: "http://ab846aadb5b974536a0463a29ed866f5-200924269.ap-northeast-2.elb.amazonaws.com:8081/repository/my-release-repo/default/petclinic/1.0/petclinic-1.0.jar"
port: "8080"
profile: default

## Deployment Info ##
resource_spec: medium
target_cluster_id: cdozqn511

## Persistent Volume ##
pv_enabled: false
pv_storage_class: taco-storage
pv_access_mode: ReadWriteOnce
pv_size: 5Gi
pv_mount_path: "/usr/share/temp1"
